<article class="post">
  <hgroup>
    <h2><%= diary_entry_title(entity) %></h2>
  </hgroup>

  <% if entity.image.attached? %>
    <figure>
      <div class="image">
        <%= post_image_large(entity) %>
      </div>
    </figure>
  <% end %>

  <div class="post-body">
    <%= simple_format(entity.body_for_page) %>
  </div>
</article>
