<header class="main_header">
  <nav class="main_nav">
    <ul>
      <li><%= link_to(t(:home), root_path) %></li>
      <li><%= link_to(t('diary.index.nav_text'), diary_path) %></li>
      <li><%= link_to(t('posts.index.nav_text'), posts_path) %></li>
    </ul>
  </nav>
</header>
